@import "tailwindcss";



body {
  color: #ffffff;
  background: linear-gradient(180deg, #0e0e0e 0%, #0E0E12 100%);
  font-family: Arial, Helvetica, sans-serif;
}


.background-clip-1{
  clip-path: polygon(0% 0%, 55.9% 0%, 100% 100%, 0% 100%);
}

.border-grad {
  border: solid 5px transparent;
  background: linear-gradient(#050C35, #050C35) padding-box, linear-gradient(92.7deg, #0064fb, red) border-box;
  /* border-image: linear-gradient(to right, blue, white, red) 1; */
}


.border-animate {
  color: white;
  border: 5px solid transparent;
  border-radius: 32px;
  background: 
    linear-gradient(#050C35, #050C35) padding-box,
    linear-gradient(90deg, #0064fb, red, #0064fb) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;

  background-size: 200% 100%; /* allow movement */
  background-position: 0 0;
  animation: borderMove 2s linear infinite;
}


@keyframes borderMove {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
    0% {
    background-position: 0% 0;
  }
}



.text-blue{
  color: #4D30FB;
}

/* .bg-blue{
  background-color: #303030;
} */

.text-gold{
  color: #eecd58;
}

.text-gold2{
  color: #a78304;
}

.text-gray{
  color: #d1d1d1;
}



.bg-gold{
  background-color: #eecd58;
}

.bg-gold2{
  background-color: #a78304;
}

.bg-dark{
  background: linear-gradient(180deg, #000000 0%, #31099e 50%, #000000 100%)
}

/* .bg-darker{
  background: #080808
} */



.text-stroke-black{
  -webkit-text-stroke: #000000 2px;
}




.bg-blue-shadow{
  width: 250px;
  height: 250px;
  opacity: 0.3;
  background-color: rgba(48, 52, 255);
  box-shadow: 0 0 150px 150px rgba(48, 52, 255);
}


.bg-red-shadow{
  width: 250px;
  height: 250px;
  opacity: 0.3;
  background-color: rgb(255, 48, 48);
  box-shadow: 0 0 150px 150px rgb(255, 48, 48);
}



.text-bluelight{
  color: #8593E8;
}


.bg-bluelight{
  background-color: #8593E8;
}

.text-blue{
  color: #2d3892;
}

.bg-blue{
  background-color: #2d3892;
}


.text-red{
  color: #ed1b24;
}

.bg-red{
  background-color: #ed1b24;
}



.background-color-light{
  background-color: #0070BB;
}


.background-color-deep{
  background-color: #007FFF;
}



.list-number-style{
  list-style-type: decimal;
  font-weight: bold;
}

@layer components {
  .big-button{
    @apply  sm:h-[55px] sm:min-w-[205px] min-w-[170px] w-full h-[50px] text-xl
  }


  .small-button{
    @apply  sm:h-[45px] sm:w-[130px] h-[35px] w-[90px] text-xl rounded-lg shadow-sm shadow-black
  }

  /* .bg-blue{
    @apply bg-gradient-to-b from-gray-800 to-[#0e0e0e]
  } */

  .blue-red-grad{
    @apply bg-gradient-to-b from-[#5c6bdb] to-[#ec2d37]
  }

  .blue-red-grad2{
    @apply bg-gradient-to-b from-[#3f4fc9] to-[#b92b32] hover:bg-gradient-to-b hover:from-transparent hover:to-[#3f4fc9]
  }

  .blue-red-blue-grad{
    @apply bg-gradient-to-l from-[#8593E8] from-[0%] via-[#ed1b24] via-[50%] to-[#8593E8] to-[100%]
  }
}




.animated-background-text1 {

  background: linear-gradient(90deg, #8593E8, #ffffff, #ed1b24);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: moveBackground 2s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}


.animated-background {

  background: linear-gradient(90deg, #8593E8, #ffffff, #ed1b24);
  background-size: 300% 300%;
  animation: moveBackground 2.5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 20px;
}


@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






/* +++++++++++++++++++ SPINNER LOADING STYLE ++++++++++++++++++++++++ */
.spinner {
   position: relative;
   width: 22.4px;
   height: 22.4px;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   animation: spinner-b4c8mmmd 0.5s backwards, spinner-49opz7md 1.25s 0.5s infinite ease;
   border: 5.6px solid #FEE37D;
   border-radius: 50%;
   box-shadow: 0 -33.6px 0 -5.6px #FEE37D;
   position: absolute;
}

.spinner::after {
   animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmd {
   from {
      box-shadow: 0 0 0 -5.6px #FEE37D;
   }
}

@keyframes spinner-49opz7md {
   to {
      transform: rotate(360deg);
   }
}